RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/(index|login|register|config|img)\.php [NC]
RewriteCond %{REQUEST_URI} !^/api [NC]
RewriteRule ^([a-zA-Z0-9_\-\.]+)$ img.php?key=$1 [L,QSA]
